/* to_do_list/static/css/styles.css */
body {
    font-family: Arial, sans-serif;
}

form {
    margin-bottom: 20px;
    
}

ul {
    list-style-type: none;
    padding: 0;
    
}

li {
    margin-bottom: 5px;
    background-color: orange;
}
.delete{
   background-color: red;
   color: orange;
}
