/* to_do_list/static/css/styles.css */
body {
    font-family: Arial, sans-serif;
    
    
}
h1{
    text-align: center;
    animation: colo 8s infinite ;
}

@keyframes colo{
    0%   {color: red;}
    10%   {color: rgb(61, 163, 57);}
    25%  {color: rgb(173, 173, 52);}
    40%   {color: rgb(175, 96, 49);}
    55%  {color: rgb(57, 57, 160);}
    70%   {color: rgb(160, 55, 128);}
    100% {color: rgb(49, 133, 145);}
  
}

label{
    margin:10px;
    margin-top:20px;
    color: brown;
    font-family: 'Montserrat', sans-serif;
   
}

input[type="text"] {
    margin: 10px;
    height: 30px;
    width: 200px;
    border-radius: 15px;
    border:3px solid rgba(219, 96, 96, 0.466);
    
}

.add {
    width: 80px;
    height: 30px;
    padding: 5px;
    margin: 10px;
    margin-top:14px;
    border-radius: 10px;
    border:3px solid rgba(143, 124, 248, 0.658);
    background-color: rgba(82, 204, 66, 0.658);
    color: rgba(131, 3, 250, 0.541);
}


form {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;  
    
}

ul {
    list-style-type: none;
    padding: 0;
    position: relative;
    
    
    
}

li {
    position: relative;
    margin-left: 410px;
    margin-top: 50px;
       
}
.delete{
   position: relative;
   margin-left: 70px;
   left: 10px;
   bottom: 20px;
   color: rgb(211, 29, 44);
}
