/* to_do_list/static/css/styles.css */
body {
    font-family: Arial, sans-serif;
}

form {
    margin-bottom: 20px;
    
}

ul {
    list-style-type: none;
    padding: 0;
    position: relative;
    
}

li {
    margin-bottom: 5px;
    position: relative;
    text-align: left;
    
}
.delete{
   position: absolute;
   align-content: center;
   top: 10px;
   left: 300px;
   color: orange;
}
