<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sql_front.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <form action="adata" method="POST" autocomplete="off">
                    {% csrf_token %}
                    <h3 class="page-header text-primary text-center">Registration</h3>
                    <div class="form-group">
                        <label>Name</label>
                        <div class="col-sm-9">
                            <input type="text" name="name" placeholder="Enter your name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Age</label>
                        <div class="col-sm-9">
                            <input type="number" name="age" placeholder="Enter your age" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <div class="col-sm-9">
                            <input type="text" name="address" placeholder="Enter your address" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <div class="col-sm-9">
                            <input type="number" name="phone" placeholder="Enter your phone number" required>
                        </div>
                    </div><br>
                    <div class="form-group pull-right">
                        <div class="col-sm-9 offset-sm-3">
                            <input type="submit" name="submit"  value="Register" class="btn btn-primary">
                            <input type="reset" name="clear" value="Clear" class="btn btn-danger">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col g-start-5">
                {% if datas %}          <!--Here using if for no datas in table then only showwing the heads so this remove all field if empty-->
                <h3 class="page-head text-primary text-center">View Data</h3>
                <table class="table table-border">
                    <thead>
                        <tr>
                            <th>S.NO</th>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                        <tbody>
                            {% for data in datas %} <!-- Here get data from 'views.py' (return.....,{'datas':mydata})-->
                            <tbody>
                                <tr>
                                    <td>{{forloop.counter}}</td> <!--Here count the data values-->
                                    <td>{{data.name}}</td>       <!--Here get data from 'models.py'-->
                                    <td>{{data.age}}</td>        <!--Here get data from 'models.py'-->
                                    <td>{{data.address}}</td>   <!--Here get data from 'models.py'-->
                                    <td>{{data.phone}}</td>      <!--Here get data from 'models.py'-->
                                    <td><a class="btn btn-success" href="/udata/{{data.id}}/">Update</a></td> <!-- Here get id from database-->
                                </tr>
                            </tbody>
                            {% endfor %}
                        </tbody>
                    </thead>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
    
</body>
</html>