<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/output.css' %}">
    <title>Display the user data</title>
</head>
<body>
    {% block content %}
    <form>
        {% csrf_token %}
        <table>
            <tr>
                <th colspan="2">Details</th><br>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{name}}</td> <br>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{email}}</td> <br>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{phone}}</td> <br>
            </tr>
            <tr>
                <td colspan="2">
                   <center><a href="/user_input"><button type="button" class="button">Back</button></a></center>
                </td>
            </tr>
        </table>
    </form>
    {% endblock %}  
</body>
</html>